:root {
	--color-primary: #f0f3fa;
	--color-secondary: #2f3a3d;
	--color-accent: #ea3b3e;
	--color-accent-light: #fcfcfc;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--color-secondary);
	background: var(--color-primary);
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}
